
.curso{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.curso li{
    padding: 1rem;
    margin-bottom: 1rem;
}

.curso li .period{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .8rem;
}

.curso li .period::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/calendar.svg');
    margin-right: .5rem;
}