
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 1rem;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: .5rem ;
}

.portfolio li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio .tecnology{
    margin-top: 0;
    color: rgb(24, 24, 24);
    font-weight: 700;
}



.portfolio .link{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: .85rem;
   
}

.portfolio .link a i{
    padding: 0 .5rem 1rem 1rem;
}

